* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: white;
    height: auto;
}

#nav-bar {
    position: -webkit-sticky;
    top: 0;
    z-index: 4;
    padding: 0;
    background: #153a6a;
}

.navbar-brand img {
    height: 100px;
    margin-right: 12px;
    padding: auto;
}

#cover {
    background: linear-gradient(90deg, rgba(40, 58, 68), #39596a, #2f576d, #1b4f6a);
    background-size: cover;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    max-width: 90%;
    margin-top: 100px;
    margin-bottom: 60px;
}

#cover #cover-text {
    padding-left: 20px;
}

#cover #cover-text h6 {
    color: aliceblue;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#cover #cover-text h1 {
    color: azure;
    padding-top: 10px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}

#cover #cvr-card {
    padding-top: 120px;
    padding-bottom: 70px;
    height: auto;
}

#cover .card {
    width: 90%;
    background-color: rgba(39, 45, 48, 0.62);
    margin: auto auto;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.12), 2px 3px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0.5rem;
}

#cover .card .card-title {
    color: #edefef;
    font-family: 'Lora', serif;
}

#cover .card .card-text {
    padding-top: 6px;
    color: #e1e1e1;
}

#block #block-text {
    padding-left: 40px;
    padding-right: 40px;
}

#block h6 {
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

#block h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

#block h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

#block-text p {
    padding-top: 10px;
}

#details {
    padding-bottom: 30px;
    background-color: rgb(245, 245, 245);
}

#details #heading {
    text-align: center;
    padding: 50px 150px;
}

@media only screen and (max-width: 991px) {
    #details #heading {
        text-align: center;
        padding: 50px 50px;
    }
}

#details #heading h6 {
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

#details #heading h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

#details #heading h5 {
    padding-top: 10px;
    padding-bottom: 25px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

#groups {
    padding-left: 25px;
    padding-right: 25px;
}

#groups .card {
    height: 90%;
    margin: auto auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.12), 2px 3px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0.5rem;

}

#groups .card-title {
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

#groups .card .card-text {
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #707072;
    padding-top: 6px;
}

#groups .card img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

#team #heading {
    text-align: center;
    padding: 20px 100px;
}

@media only screen and (max-width: 991px) {
    #team #heading {
        text-align: center;
        padding: 50px 50px;
    }
}

#team #heading h6 {
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

#team #heading h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

#team .card{
    width: 40%;
    margin: auto auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.12), 2px 3px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0.5rem;
}

@media only screen and (max-width: 991px) {
    #team .card {
        width: 60%;
    }
}

@media only screen and (max-width: 624px) {
    #team .card {
        width: 80%;
    }
}

#team .card img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}
.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }

#connect {
    background-color: rgb(245, 245, 245);
}

#connect .container {
    padding: 100px 0;
    margin-bottom: 0px;
}

#connect h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

#connect h5 {
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

#connect #connect-details {
    padding-left: 40px;
    padding-right: 30px;
}

#connect #form-details {
    padding-left: 30px;
    padding-right: 40px;
}

#connect p {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(110, 110, 110);
}

#connect i {
    padding-right: 10px;
}

#connect a i {
    font-size: 20px;
}

#icon {
    padding-bottom: 30px;
}

#footer {
    background: rgba(40, 58, 68);
    color: white;
    line-height: 7vh;
    margin-bottom: 0;
}

#footer .container {
    margin-top: 0px;
    margin-bottom: 0px;
}

#footer img {
    height: 80px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(40, 58, 68, 255);
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 25px;
}

#back-to-top:hover {
    background-color: white;
    color: rgba(40, 58, 68, 255);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}
